.code-inner{
    height: 1650px;
    @include ex {
        margin-top: 350px;
    }
    @include sp{
        margin-top: 200px;
    }
    h2{
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 71px;
        color: #333333;
        font-family: $fstyle;
        @include sp {
            font-size:2.2rem;
        }
    }
    &-p{
        font-size: 1.6rem;
        color: #3BA6C9;
        text-align: center;
        margin-top: 15px;
        font-family: $fstyle;
        font-weight: bold;
        @include sp {
            font-size: 1.4rem;
        }
    }
}

.code-content {
    width: 80%;
    margin: 0 auto;
    @include ex{
        width: 85%;
    }
        @include sp{
            width: 98%;
        }
}

//一つ目

.code-one {
    margin-top: 57px;
    h3{
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: $fstyle;
        color: #333333;
        @include sp {
            font-size: 2.4rem;
        }
    }
}

.code-one-box {
    display: flex;
    justify-content: space-around;
    margin-top: 49px;
    @include ex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-img {
        height: 314px;
        @include sp {
            height: 280px;
        }
        img{
            @include sp {
                height: 23rem;
            }
        }
    }
    &-msg {
        h4{
            font-size: 2.4rem;
            color: #333;
            margin-top: 66px;
            font-weight: bold;
            line-height: 1.8;
            font-family: $fstyle;
            @include sp {
                font-size: 1.8rem;
            }
        }
        p{
            font-size: 1.6rem;
            color: #333;
            margin-top: 45px;
            font-weight: bold;
            font-family: $fstyle;
            line-height: 1.2;
            @include sp {
                font-size: 14px;
                line-height: 1.5;
            }
            @include small {
                font-size: 12px;
            }
        }
    }
}


//二つ目

.code-two {
    margin-top: 86px;
    h3{
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        color: #333333;
        font-family: $fstyle;
         @include sp {
            font-size: 2.4rem;
        }
    }
}

.code-two-box {
    display: flex;
    justify-content: space-around;
    flex-direction:row-reverse;
    margin-top: 61px;
        @include ex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-img {
        height: 329px;
        @include sp {
                height: 200px;
            }
                img{
            @include sp {
                height: 20rem;
            }
        }

    }
    &-msg {
        @include ex{
            margin-top: 25px;
        }
        h4{
            font-size: 2.4rem;
            color: #333;
            margin-top: 8px;
            font-weight: bold;
            font-family: $fstyle;
            line-height: 1.8;
            @include sp {
                font-size: 1.8rem;
            }
        }
        p{
            font-size: 1.5rem;
            color: #333;
            margin-top: 40px;
            font-weight: bold;
            font-family: $fstyle;
            line-height: 1.4;
            @include sp {
                font-size: 14px;
                line-height: 1.5;
            }
            @include small {
                font-size: 12px;
            }
        }
    }
}

//三つ目

.code-three {
    margin-top: 136px;
    @include ex{
        margin-top:86px;
    }
    h3{
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: $fstyle;
        color: #333333;
         @include sp {
            font-size: 2.4rem;
        }

    }
}

.code-three-box {
    display: flex;
    justify-content: space-around;
    margin-top: 62px;
        @include ex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-img {
        height: 290px;
         @include sp {
                height: 200px;
            }

                img{
            @include sp {
                height: 20rem;
            }
        }

    }
    &-msg {
        @include ex{
            margin-top: 15px;
        }
        h4{
            font-size: 2.4rem;
            color: #333;
            margin-top: 8px;
            font-family: $fstyle;
            font-weight: bold;
            line-height: 1.8;
            @include sp {
                font-size: 1.8rem;
            }
        }
        p{
            font-size: 1.6rem;
            color: #333;
            margin-top: 33px;
            font-weight: bold;
            font-family: $fstyle;
            line-height: 1.2;
            @include sp {
                font-size: 14px;
                line-height: 1.5;
            }
            @include small {
                font-size: 12px;
            }
        }
    }
}


//ふわっと表示

.effect-fade {
  opacity: 0;
  transform: translate(0, 150px); /* フェードインで動く高さを指定 */
  transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}