.performance{
    height: 701px;
        h2{
        padding-top: 55px;
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
        font-family: $fstyle;
        color: #333333;
        @include sp {
            font-size:2.2rem;
            }
        }
        &-p{
        font-size: 1.6rem;
        color: #3BA6C9;
        text-align: center;
        margin-top: 15px;
        font-family: $fstyle;
        font-weight: bold;
        @include sp {
            font-size: 1.4rem;
        }
    }
}

//////swiper///////

.swiper-container {
    padding-top: 68px;
    width: 95%;
    @include sp {
        width: 80%;
    }
}

.swiper-slide{
    width: 100%;
    height: 407px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    img{
        width: 100%;
        height: 206px;
    }
}

.per-one{
    font-size: 1.6rem;
    color: #333333;
    font-weight: bold;
}

.per-two {
    margin-top: 35px;
    font-size: 1.4rem;
    color: #333333;
    p{
        font-weight: bold;
    }
}

.per-text {
    padding: 19px 18px 130px 19px;
}
