.acc{
    height: 586px;
    @include tab{
        height: 500px;
    }
    @include sp {
        height: 450px;
    }
        h2{
        margin-top:55px;
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
        font-family: $fstyle;
        color: #333333;
        @include sp {
            font-size:2.2rem;
            }
        }
        &-p{
        font-size: 1.6rem;
        color: #3BA6C9;
        text-align: center;
        font-family: $fstyle;
        margin-top: 15px;
        font-weight: bold;
        @include sp {
            font-size: 1.4rem;
        }
    }
}




/*==================================================
アコーディオンのためのcss
===================================*/

/*アコーディオン全体*/
.accordion-area{
    padding-top: 32px;
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area div {
	border: 1px solid #E5E5E5;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
    text-align: center;
    color: #333333;
    @include sp {
        font-size: 1.3rem;
    }
}

.box p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #444444;
    @include sp{
        font-size: 1.3rem;
    }
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}


